{% extends 'base.html' %}
{% load static %}
{% block title %}আমাৰ বিষয়ে{% endblock title %}
{% block body %}
<style>
  #page2{
    color: red;
  }
</style>
<div class="container">
  <div class="card">
    <img src="{% static 'assets/images/about_us.jpg'%}" class="card-img" alt="...">
  </div>
</div>
<br>
<div class="container">
  <center>
    <p>
      <i>
      হয়তো ন'হব পাৰে মোৰ আই সবাতো শুৱনি 
      <br>
      তথাপিও আপোন মোৰ 
      <br>
      গছ লতা ফুলে ভৰা এইখন ধুনীয়া ধৰণী
      <br>
      তেৱে মোক দিলেহি চিনায় ।।
      </i>
      </p>
  </center>
</div>
<br>
<div class="container">
  <center>
    <p>
      সঁচাকৈয়ে আই মাতৃৰ দৰে এই জগতত আন কোনোৱেই নাই । আইৰ পিছতে আমাৰ আটাইতকৈ আপোন হ'ল আমাৰ মাতৃভাষা অসমীয়া । অসমীয়াই আমাক আমাৰ পৰিচয় দিলে । কিন্তু হয়টো আজি আমাৰ অসমীয়া আজি নিজেই ঘোৰ সংকটত । কালৰ কূটিল গৰাহত পৰি আমাৰ ভাষাইও যেন ককবকাব ধৰিছে । তেনে এক জটিল সন্ধিক্ষণত আমাৰ ভাষাক চহকী কৰা আমাৰ নৈতিক দায়িত্ব।সময়ৰ লগে লগে আজিৰ অসমীয়াই এই কথা বুজি গৈছে । সেয়ে আজিৰ অসমীয়া ভাষাত নিতৌ নতুন প্ৰয়োগ হৈ আছে ,ভৱিষ্য়তৰ চাহিদাৰ লগত ফেৰ মাৰিবলৈ ।
    </p>
  </center>
</div>
<br>
<div class="container">
  <center>
    <p>
      ভুত প্ৰেত বা ৰহস্য়জনক কাহিনী আমাৰ সকলোৰে বৰ প্ৰিয় । এই কথা মুঠেও নুই কৰিব নোৱাৰি যে বহুতো নামজ্বলা সাহিত্য়িকে এই শিতানত নিজৰ অৱদান আগবঢ়াই গৈছে।কিন্তু নতুনত্ব সকলোৰে বাবে প্ৰয়োজন । গতিকে আমাৰ লক্ষ্য় এইয়ে যে যিমান পাৰো , আমিও যাতে ডিজিটেল মাধ্য়মেৰে এই ক্ষেত্রত নিজৰ যৎপৰোনাস্তি চেষ্টা চলাব পাৰো। বিশ্বস্তৰীয় শিহৰণকাৰী কাহিনীৰ সৃষ্টি আৰু নিভাজ থলুৱা অনুবাদেৰে যাতে আপোনালোকৰ আগত বিনামূলীয়াকৈ উপস্থাপন কৰিব পাৰো যাতে সহজ-সৰল চহা অসমীয়াইও যাতে তাক বুজিব পাৰে সেইয়ে আমাৰ লক্ষ্য় ।
    </p>
  </center>
</div>
<br>
<div class="container">
  <center>
    <p>
      ইয়াৰ উপৰিও বিশ্ববিখ্য়াত বিদেশী সাহিত্য়িকৰ অমৰ সৃষ্টিসমূহৰ নিভাজ থলুৱা গদ্য়ৰীতিৰে অনুবাদৰ ওপৰতো আমি কাম কৰি যাম । এই সকলোবোৰ কামৰ বাবে আমাৰ প্ৰয়োজন আপোনালোকৰ সহযোগিতাৰ । আমাৰ লিখনিবোৰক যাতে আপোনালোকে মৰম কৰে , আমাক গঠনমূলক পৰামৰ্শ দিয়ে , আমাৰ লিখনিবোৰ যাতে আনলৈও বিয়পোৱাত অৰ্থাৎ share কৰে তাৰে আন্তৰিক কামনা কৰিলো।
    </p>
  </center>
</div>
<br>
<div class="container">
  <p><center><b>ধন্য়বাদ</b></center></p>
</div>
{% endblock body %}

